<div class="row" ng-controller="facebookCtrl">
    <div class="col-md-4">
        <h4>{{ welcomeMsg }}</h4>
        <div ng-if="isLoggedIn == false">
            <button class="btn btn-default" ng-click="login()">Login</button>
        </div>
        <div ng-if="isLoggedIn == true">
            <button class="btn btn-default" ng-click="logout()">Logout</button>
        </div>

        <br><br>
        <div class="well" ng-if="isLoggedIn == true">
            <h4>User Info</h4>
            <ul>
                <li>ID: {{ userInfo.id }}</li>
                <li>Fist name: {{ userInfo.first_name }}</li>
                <li>Last name: {{ userInfo.lastname }}</li>
                <li>Email: {{ userInfo.email }}</li>
                <li>Gender: {{ userInfo.gender }}</li>
                <li>Location: {{ userInfo.locale }}</li>
            </ul>
        </div>
        <br>
        <div class="well">
            <h4>Permissions</h4>
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="col-md-8">
        <h3>Welcome to Facebook</h3>
        <form action="">
            <div class="form-group"><label for="">Status update</label>
                <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</div>
